{% extends 'web/main.html' %}
{% load static %}

{% block content %}
<div class='about-page'>
    <section class="page-header">
        <span>About Us</span>
        <p>Home / About Us </p>
    </section>

    <section class="about-us">
        <img src="{% static 'images/jamal.jpg' %}" alt="About us image">
        <div>
            <h2>Our Story</h2>
            <p>For over 100 years, our bakery has been crafting flavors that celebrate resilience, heritage, and joy. From the struggles of our forefathers to the triumph of independence, our creations honor a legacy passed through generations.  
                
                Experience the timeless taste of tradition, where every bite tells a story of passion and excellence.</p>
        </div>
    </section>
    <section class="our-values">
        <div>
            <h2>Our Values</h2>
            <p>At Frenz Bakery, we are committed to providing our customers with the highest quality baked goods made with the finest ingredients. Our team of skilled bakers and pastry chefs are dedicated to creating delicious treats that are both beautiful and flavorful. We take pride in our craft and strive to exceed our customers' expectations with every order. Whether you're looking for a sweet treat to enjoy with your morning coffee or a custom cake for a special occasion, we have you covered. Visit us today and experience the Frenz Bakery difference.</p>
        </div>
    </section>
    <section class="special-orders">
        <div>
            <h2>Special Orders</h2><br>
            <p>At Frenz Bakery, we understand that every occasion is unique and special. That's why we offer custom orders tailored to your specific needs. Whether it's a birthday, wedding, or any other celebration, our team is dedicated to creating the perfect baked goods to make your event memorable. Contact us to discuss your requirements and let us bring your vision to life with our delicious and beautifully crafted treats.</p>
        </div>
    </section>
</div>
{% endblock %}
