<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frenz Bakery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/main.css' %}">
    <link rel="stylesheet" href="{% static 'web/home.css' %}">
    <link rel="stylesheet" href="{% static 'web/order.css' %}">
</head>
<body>
    <nav >
        <a href="{% url 'home' %}">
            <img src="{% static 'images/nav-logo1.png' %}" alt="Bakery"></a>
        <ul>
            <li><a class="diplomata-sc-regular1" href="{% url 'home' %}">HOME</a></li>
            <li><a class="diplomata-sc-regular1" href="{% url 'order' %}">ORDER</a></li>
            <li><a class="diplomata-sc-regular1" href="{% url 'menu' %}">MENU</a></li>
            <li><a class="diplomata-sc-regular1" href="{% url 'contact' %}">CONTACT</a></li>
            <li><a class="diplomata-sc-regular1" href="{% url 'about' %}">ABOUT</a></li>
        </ul>
        
    </nav>
    {% block content %}
    {% endblock content %}
    
    <footer>
        <p>&copy; 2023 Frenz Bakery. All rights reserved.</p>
    </footer>

   
</body>
</html>